venv/
__pycache__/
*.pt
*.csv
*.log
*.pth
*.h5
*.ckpt
*.npy
*.npz
*.xlsx
*.model
*.out
*.gz
*.zip
*.tar
*.egg-info/
build/
dist/
.idea/
.vscode/
*.env
*.env.local
*.mypy_cache/
.pytest_cache/
*.coverage
htmlcov/
*.mat
.DS_Store
.ipynb_checkpoints
*.pdf
*.txt
!requirements.txt
*.pkz